################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TesteGit/.vs/TesteGit/FileContentIndex/f8af78ac-f34f-477d-b1de-2016f2cee8c8.vsidx
